.link, .lang {
  display: none;
}

#popup {
  background-color: #eee;
  padding: 10px;
  text-align: center;
}
#popup a {
  color: #222;
  font-size: 0.75rem;
  font-weight: 600;
}

header {
  text-align: center;
  margin: 0 auto;
}
header .headerTop {
  position: relative;
}
header .headerTop h1 {
  padding: 50px 0;
}
header .headerTop .right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  right: 0;
}
header .headerTop .right li:first-child {
  position: relative;
}
header .headerTop .right li:first-child > a::after {
  background: url(../images/arr.png) no-repeat;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 7px;
}
header .headerTop .right li:first-child .lang {
  display: block;
  background: #fff;
  position: absolute;
  z-index: 910;
  border: 1px solid #aaa;
  left: -50%;
}
header .headerTop .right li:first-child .lang a {
  font-size: 0.84rem;
  text-align: left;
}
header .headerTop .right li a {
  text-transform: uppercase;
  padding: 10px 7px;
  display: block;
  position: relative;
}
header .headerTop .right li a span {
  font-size: 0.84rem;
  border: 1px solid #ff7f50;
  border-radius: 10px;
  padding: 3px 10px;
  position: absolute;
  left: -50%;
  top: 30px;
  width: -moz-max-content;
  width: max-content;
}
header .headerTop .all_nav {
  display: block;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -49%);
  width: 700px;
  height: 500px;
  z-index: 999;
  text-align: center;
  line-height: 500px;
}
header .headerTop .all_nav .close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px;
}
header .headerBottom { /* background-color: brown; */ }
header .headerBottom nav {
  width: 1200px;
  margin: 20px auto;
}
header .headerBottom nav > ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
header .headerBottom nav > ul > li {
  position: relative;
}
header .headerBottom nav > ul > li > a {
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 15px;
  display: block;
}
header .headerBottom nav > ul > li > a:hover {
  color: #ff7f50;
}
header .headerBottom nav > ul > li .sub {
  border: 1px solid #aaa;
  background: #fff;
  display: block;
  position: absolute;
  width: 100%;
  z-index: 900;
  text-align: le;
}
header .headerBottom nav > ul > li .sub li a {
  padding: 10px;
  display: block;
  font-size: 0.75rem;
}

main #right_popup {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  border: 2px solid #222;
  padding: 20px;
  background: #fff;
}
main #right_popup #popup_btn {
  background: #fff;
  position: fixed;
  top: 40%;
  right: 545px;
  translate: -50%, 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
main #right_popup #popup_btn a {
  width: 100%;
  padding: 5px;
  text-align: center;
  border: 1px solid #222;
}
main #right_popup #popup_btn a:first-child {
  background: #ff7f50;
}
main .contents {
  background: #fff;
  width: 500px;
  text-align: center;
  height: 100vh;
}
main .contents .info img {
  width: 50%;
}
main .contents .info_contents {
  margin: 30px 0;
}
main .contents .info_contents span {
  color: #aaa;
  line-height: 1.5;
}
main .list_user {
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 30px;
}
main .list_user a {
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.5;
  width: 45%;
  border-bottom: 1px solid #222;
}
main .list_user a span {
  color: #ff7f50;
}
main .list_board {
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 30px;
}
main .list_board a {
  margin-right: 10px;
  width: 45%;
  border-bottom: 1px solid #222;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.5;
}
main .todayView {
  text-align: left;
}
main .todayView dt {
  margin-bottom: 20px;
  font-weight: 700;
}
main .todayView dd {
  width: 30%;
  margin-bottom: 20px;
}
main .todayView dd img {
  width: 100%;
}
main .service {
  text-align: left;
}
main .service dt {
  margin-bottom: 20px;
  font-weight: 700;
}
main .service dd {
  margin: 10px 0;
}
main .service dd:first-of-type {
  font-size: 2rem;
}
main .service dd:nth-child(3) {
  font: 1.5rem;
  text-transform: uppercase;
}
main .service dd:nth-child(4) {
  font: 1.5rem;
  text-transform: uppercase;
}
main .event {
  /* background-color: #ffe4c4; */
  width: 1200px;
  text-align: center;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  justify-content: space-between;
}
main .event a {
  width: 100%;
}
main .event a img {
  width: 100%;
}
main .event a {
  margin-right: 0;
}
main .best {
  width: 1200px; /* background-color: #ffe4c4; */
  text-align: center;
  margin: 0 auto;
}
main .best h1 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 100px;
}
main .best ul {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 32.5%);
  justify-content: space-between;
}
main .best ul li {
  width: 100%;
  margin-bottom: 50px;
}
main .best ul li a {
  width: 100%;
}
main .best ul li a img {
  width: 100%;
}
main .best ul li h2 {
  font-size: 0.75rem;
  line-height: 1.4;
  letter-spacing: -0.02em;
}
main .best ul li p {
  margin-bottom: 20px;
}
main .best ul li p span {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.02em;
}
main .best ul li .btm {
  border-top: 1px solid #aaa;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
main .best ul li .btm .size {
  font-size: 0.75rem;
  width: 50%;
}
main .best ul li .btm .review {
  font-size: 0.75rem;
  width: 50%;
  color: #ff7f50;
  text-align: right;
}
main .best ul li .btm p {
  margin: 10px 0;
}
main .best ul li .btm p span {
  background: #aaa;
  margin-right: 5px;
  color: #fff;
  padding: 5px;
  font-size: 0.75rem;
  line-height: 1.4;
  letter-spacing: -0.02em;
}
main .best ul li .btm p .best {
  background: #ffe4c4;
}
main .best ul li .btm p .order {
  background: #000080;
}
main .shop {
  width: 100%;
  position: relative;
  margin-bottom: 100px;
  background: url(../images/made_img.jpg);
  background-size: cover;
  padding-bottom: 300px;
}
main .shop .title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
main .shop .title h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
main .shop .title p a {
  border: 1px solid #fff;
  padding: 10px 25px;
  color: #fff;
}

footer {
  border-top: 1px solid #222;
}
footer .container {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
footer .container .f_top a {
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #aaa;
  margin-right: 30px;
}
footer .container .f_top a:nth-child(2) {
  color: #222;
}
footer .container .f_top a:last-child {
  margin: 0;
}
footer .container address {
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-top: 30px;
}
footer .container p {
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: -0.02em;
}/*# sourceMappingURL=main.css.map */